    /* Course CSS */
 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


    body{
        font-family: 'Inter', sans-serif !important;

    }
    .course-box {
        border-radius: 30px;
        padding: 15px;
        position: relative;
        min-height: 370px;
        overflow: hidden;

        @media(max-width:992px) {
            margin-bottom: 30px;
        }               
            .badge {
                border-radius: 10px;
                padding: 12px 24px;
                color: #202431;
                background: #fff;
                font-size: 15px;
            
        }      
    }
    .box-one {
        background: #efded5;
    }
    .min-heigh770{
        min-height: 770px;
    }